* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

#luckyTurntable {
  display: none;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: url('../../img/lucky2d/bg-red.png') no-repeat; */
  background-size: 100% 100%;
  overflow: hidden;
}

.container-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1310px;
  height: 610px;
  overflow: hidden;
  margin-left: -655px;
  margin-top: -305px;
}

.container-left {
  float: left;
  height: 610px;
  width: 320px;
  background: url('../../img/sign2d/left_bg.png') no-repeat;
  background-size: cover;
}

.container-left-title {
  margin: 20px auto 0;
  width: 170px;
  height: 40px;
  line-height: 40px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(123, 123, 123, 0.84)), to(rgba(255, 255, 255, 1))); */
  background:linear-gradient(360deg,rgba(123,123,123,0.84),rgba(255,255,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.container-left-code {
  margin: 40px auto 0;
  width: 200px;
  height: 200px;
  background: url('../../img/sign2d/two_code.png') no-repeat;
  background-size: cover;
}

#qrcode img {
  display: block;
  width: 160px;
  position: relative;
  top: 17px;
  left: 19px;
}

.container-left-num {
  position: relative;
  margin: 0 auto;
  width: 218px;
  height: 150px;
  background: url('../../img/sign2d/sign_count.png') no-repeat;
  background-size: cover;
}

.container-left-num-title {
  color: #FFF;
  font-size: 18px;
  font-family: PingFangSC;
  text-align: center;
  position: relative;
  top: 15px;
}

.container-left-prompt {
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.container-left-shadow {
  position: relative;
  top: 24px;
  left: 12px;
  width: 192px;
  height: 88px;
  background: url(../../img/lucky2d/shadow.png) no-repeat;
  background-size: cover;
}

.container-left-num-first {
  position: absolute;
  top: 53px;
  left: 20px;
  width: 30px;
  height: 84px;
  overflow: hidden;
}

.container-left-num-second {
  position: absolute;
  top: 53px;
  left: 58px;
  width: 30px;
  height: 84px;
  overflow: hidden;
}

.container-left-num-third {
  position: absolute;
  top: 53px;
  left: 95px;
  width: 30px;
  height: 84px;
  overflow: hidden;
}

.container-left-num-four {
  position: absolute;
  top: 53px;
  left: 132px;
  width: 30px;
  height: 84px;
  overflow: hidden;
}

.container-left-num-five {
  position: absolute;
  top: 53px;
  left: 169px;
  width: 30px;
  height: 84px;
  overflow: hidden;
}

.container-left-num ul {
  position: absolute;
  width: 30px;
}

.container-left-num ul li {
  height: 84px;
  line-height: 84px;
  text-align: center;
  width: 30px;
  font-size: 34px;
  color: #7C0000;
}

.container-right {
  margin-left: 20px;
  position: relative;
  float: left;
  width: 970px;
  height: 610px;
  background: url('../../img/sign2d/right_bg.png') no-repeat;
  background-size: cover;
}

.container-right-title {
  margin: 20px auto 48px;
  width: 450px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  background:linear-gradient(360deg,rgba(123,123,123,0.84),rgba(255,255,255,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.container-right-list {
  padding: 0 65px;
}

.container-right-list .sign-people {
  float: left;
  margin-bottom: 40px;
  height: 120px;
  width: 120px;
}

.container-right-list .sign-people img {
  display: block;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container-right-list .sign-people .sign-img {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  background: green;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  color: #FFF;
  font-size: 24px;
}

.container-right-list .sign-people .sign-name {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .6);
}

#signInDom {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -25px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 28px;
}
